body {
  background: #e8e8e8;
}


.c-Menu {
  position: fixed;
  background: gray;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.c-Article {
  position: static;
  z-index: 0;
  background: white;
  padding: 16px;
}

.u-mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.u-ch-mb-1 > * {
  margin-bottom: 16px;
}

.u-clearfix::after {
    content: " ";
    display: block;
    clear: both;
}